<div id="tablaPlanes" ng-show="!agregandoPlan">
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Planes</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <button type="button" class="btn btn-default" ng-click="agregandoPlan=true">
                            <i class="pe-7s-magic-wand"></i>Agregar Plan
                        </button>
                    </li>
                    <!--<li>-->
                    <!--<a href="">-->
                    <!--<i class="fa fa-search"></i>-->
                    <!--<p class="hidden-lg hidden-md">Buscar integrante</p>-->
                    <!--</a>-->
                    <!--</li>-->
                </ul>

            </div>
        </div>
    </nav>

    <div >
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="header">
                </div>
            </div>
            <table class="table table-hover">
                <thead>
                <th>Nombre</th>
                <th></th>
                </thead>
                <tbody>
                <tr ng-repeat="plan in Planes">
                    <td>{{plan.nombre}}</td>
                    <td class="td-actions text-right">
                        <button type="button" rel="tooltip" title="" class="btn btn-danger btn-simple btn-xs" data-original-title="Remove" ng-click="quitarItem(plan,Planes)" >
                            <i class="fa fa-times"></i>
                        </button>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>
    </div>
</div>
<div ng-show="agregandoPlan">
    <form name="planForm" >
        <h3 title="info de hogar">Crear Plan</h3>
        <div class="form-group">
            <label for="inputNombrePlan"><span style="color:red">* </span>Ingrese el nombre del plan</label>
            <input class="form-control input-md" id="inputNombrePlan" type="text" ng-model="Plan.nombre">
        </div>
        <div class="form-group">
            <label for="selectFinanciamiento"><span style="color:red">* </span>Origen del financiamiento</label>
            <select class="form-control input-md" id="selectFinanciamiento" ng-model="Plan.financiamiento" ng-options="fin.id as fin.descripcion for fin in Financiamientos"></select>
        </div>
        <div class="form-group">
            <label for="selectPlan"><span style="color:red">* </span>Tipo de plan</label>
            <select class="form-control input-md" id="selectPlan" ng-model="Plan.tipo" ng-options="tipo.id as tipo.descripcion for tipo in Tipos"></select>
        </div>
        <hr>
        <!--SITUACION REGISTRO-->
        <div>
            <div class="row">
                <div class="col-md-10">
                    <h3>Situación en el registro</h3>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" ng-show="mostrarSitRegistro" ng-click="mostrarSitRegistro=false">Ocultar Sección</button>
                    <button class="btn btn-default" ng-show="!mostrarSitRegistro" ng-click="mostrarSitRegistro=true">Mostrar Sección</button>
                </div>
            </div>
            <div ng-show="mostrarSitRegistro">
                <div ng-show="sitRegistro.items.length">
                    <table class="table">
                        <tr>
                            <th>Categoria</th>
                            <th>Item</th>
                            <th>Puntaje</th>
                            <th>Requerido</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="item in sitRegistro.items">
                            <td>{{item.categoria}}</td>
                            <td>{{item.descripcion}}</td>
                            <td><input class="form-control input-md" type="text" ng-model="item.puntaje"/></td>
                            <td ><input type="checkbox" name="fieldset-5"  id="chkItemReqR" ng-model="item.required"/></td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="quitarItem(item,sitRegistro.items,comboSitRegistro.items)">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </table>

                </div>

                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="sitRegistroSelect">Seleccion el elemento que desea agregar</label>
                            <select class="form-control input-md" id="sitRegistroSelect" ng-model="temp.item" ng-options="combo.id as combo.descripcion for combo in comboSitRegistro.items" ></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger" ng-click="addItem(temp.item,sitRegistro.items,'Situación en el registro',comboSitRegistro.items)">Agregar
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger" ng-click="addAll(comboSitRegistro.items,sitRegistro.items,'Situación en el registro')">Agregar Todos
                        </button>
                    </div>
                </div>


            </div>
        </div>
        <!--SITUACION HOGAR-->
        <div>
            <div class="row">
                <div class="col-md-10">
                    <h3>Situación del hogar</h3>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-default" ng-show="mostrarSitHogar" ng-click="mostrarSitHogar=false">Ocultar Sección</button>
                    <button class="btn btn-default" ng-show="!mostrarSitHogar" ng-click="mostrarSitHogar=true">Mostrar Sección</button>
                </div>
            </div>
            <div ng-show="mostrarSitHogar">
                <div ng-show="sitHogar.items.length">
                    <table class="table">
                        <tr>
                            <th>Categoria</th>
                            <th>Item</th>
                            <th>Puntaje</th>
                            <th>Requerido</th>
                            <th></th>
                        </tr>
                        <tr ng-repeat="item in sitHogar.items">
                            <td>{{item.categoria}}</td>
                            <td>{{item.descripcion}}</td>
                            <td><input class="form-control input-md" type="text" ng-model="item.puntaje"/></td>
                            <td ><input type="checkbox" name="fieldset-5"  id="chkItemReqH" ng-model="item.required"/></td>
                            <td>
                                <button type="button" class="btn btn-danger" ng-click="quitarItem(item,sitHogar.items,comboSitHogar.items)">
                                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                                </button>
                            </td>
                        </tr>
                    </table>

                </div>

                <hr>
                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="sitHogarSelect">Seleccion el elemento que desea agregar</label>
                            <select class="form-control input-md" id="sitHogarSelect" ng-model="temp.itemHogar" ng-options="combo.id as combo.descripcion for combo in comboSitHogar.items" ></select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger" ng-click="addItem(temp.itemHogar,sitHogar.items,'Situación en el Hogar',comboSitHogar.items)">Agregar
                        </button>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-danger" ng-click="addAll(comboSitHogar.items,sitHogar.items,'Situación en el Hogar')">Agregar Todos
                        </button>
                    </div>
                </div>


                <hr>
                <!--SITUACION GENERO-->
                <div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="sitGeneroSelect">Genero del jefe/a de hogar</label>
                                <select class="form-control input-md" id="sitGeneroSelect" ng-model="temp.itemGenero" ng-options="combo.id as combo.descripcion for combo in comboSitGenero.items" ></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger" ng-click="addItem(temp.itemGenero,sitHogar.items,'Genero jefe/a de hogar',comboSitGenero.items)">Agregar
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger" ng-click="addAll(comboSitGenero.items,sitHogar.items,'Genero jefe/a de hogar')">Agregar Todos
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <!--SITUACION LOCALIDAD-->
                <div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="sitLocalidadSelect">Localidad</label>
                                <select class="form-control input-md" id="sitLocalidadSelect" ng-model="temp.itemLocalidad" ng-options="combo.id as combo.descripcion for combo in comboSitLocalidad.items" ></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger" ng-click="addItem(temp.itemLocalidad,sitHogar.items,'Localidad',comboSitLocalidad.items)">Agregar
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger" ng-click="addAll(comboSitLocalidad.items,sitHogar.items,'Localidad')">Agregar Todos
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <!--SITUACION EDAD-->
                <div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="sitEdadJefeSelect">Edad jefe/a de EdadJefe</label>
                                <select class="form-control input-md" id="sitEdadJefeSelect" ng-model="temp.itemEdadJefe" ng-options="combo.id as combo.descripcion for combo in comboSitEdadJefe.items" ></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger" ng-click="addItem(temp.itemEdadJefe,sitHogar.items,'Edad Jefe/a',comboSitEdadJefe.items)">Agregar
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger" ng-click="addAll(comboSitEdadJefe.items,sitHogar.items,'Edad Jefe/a')">Agregar Todos
                            </button>
                        </div>
                    </div>
                </div>
                <hr>
                <!--SITUACION CAP CONS-->
                <div>
                    <div class="row">
                        <div class="col-md-8">
                            <div class="form-group">
                                <label for="sitCapConstSelect">Capacidad constructiva</label>
                                <select class="form-control input-md" id="sitCapConstSelect" ng-model="temp.itemCapCons" ng-options="combo.id as combo.descripcion for combo in comboSitCapCons.items" ></select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger" ng-click="addItem(temp.itemCapCons,sitHogar.items,'Capacidad constructiva',comboSitCapCons.items)">Agregar
                            </button>
                        </div>
                        <div class="col-md-2">
                            <button type="button" class="btn btn-danger" ng-click="addAll(comboSitCapCons.items,sitHogar.items,'Capacidad constructiva')">Agregar Todos
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <button  class="btn btn-primary  pull-right" ng-click="addPlan(Plan)" >Crear</button>

    </form>
</div>















