<!DOCTYPE html>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
<link rel="stylesheet" ; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>

<html lang="en">
<div ng-controller="PlanController as ctrl">
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th></th>
            <th></th>
        </tr>                
        <tr ng-repeat="plan in Planes">
            <td>{{plan.nombre}}</td>
            <td>
                <button type="button" class="btn btn-danger" ng-click="eliminarPlan(plan)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </table>
    <div class="md-col-6">
        <div class="md-col-3">
            <button type="button" class="btn btn-success" ng-click="agregarPlan()">Agregar</button>
        </div>
        <div class="md-col-3">
            <button type="button" class="btn btn-default" ng-click="volverInicio()">Volver</button>
        </div>

    </div>
</div>
</html>