

    <form ng-submit="addpersona()" name="personaForm">
        <h3>Agregar Persona</h3>
        <div class="form-group">
            <label for="inputNombre"><span style="color:red">* </span>Nombre:</label>
            <input class="form-control input-md" type="text" ng-model="persona.nombre" id="inputNombre" required/>
        </div>
        <div class="form-group">
            <label for="inputApellido"><span style="color:red">* </span>Apellido:</label>
            <input class="form-control input-md" type="text" ng-model="persona.apellido" id="inputApellido" required/>
        </div>
        <div class="form-group">
            <label for="selectDNI"><span style="color:red">* </span>Tipo DNI</label>
            <select class="form-control input-md" id="selectDNI" ng-model="persona.tipoDni" ng-options="documento.id_TipoDocumento as documento.tipo for documento in tiposDni"></select>
        </div>
        <div class="form-group">
            <label for="inputDNI"><span style="color:red">* </span>Nro DNI:</label>
            <input class="form-control input-md" type="number" ng-model="persona.DNI" required ng-minlength="7"
               ng-maxlength="9" ng-pattern="/^[0-9]*$/" id="inputDNI" required/>
        </div>
        <div class="form-group">
            <label for="inputCUIL"><span style="color:red">* </span>CUIL:</label>
            <input class="form-control input-md" type="number" ng-model="persona.CUIL" required ng-minlength="10"
               ng-maxlength="12" ng-pattern="/^[0-9]*$/" id="inputCUIL" required/>
        </div>
        <div class="form-group">
        <label for="fechaNac"><span style="color:red">* </span>Fecha de Nacimiento</label>
        <input  class="form-control" id="fechaNac" type="date" ng-model="persona.nacimiento">
        </div>
        <div class="form-group">
            <label for="selectSexo"><span style="color:red">* </span>Sexo</label>
            <select class="form-control input-md" id="selectSexo" ng-model="persona.sexo" ng-options="sexo.id_sexo as sexo.sexo for sexo in sexos"></select>
        </div>
        <div class="form-group">
            <label for="selectEstadoC"><span style="color:red">* </span>Estado Civil</label>
            <select class="form-control input-md" id="selectEstadoC" ng-model="persona.estadoCivil" ng-options="ec.id_EstadoCivil as ec.estadoCivil for ec in estadosCiviles"></select>
        </div>
        <div class="form-group">
            <label for="selectNacionalidad"><span style="color:red">* </span>Nacionalidad</label>
            <select class="form-control input-md" id="selectNacionalidad" ng-model="persona.nacionalidad" ng-options="nac.id_Nacionalidad as nac.nacionalidad for nac in nacionalidades"></select>
        </div>
        <div class="form-group">
            <label for="selectEstudios"><span style="color:red">* </span>Estudios</label>
            <select class="form-control input-md" id="selectEstudios" ng-model="persona.estudios" ng-options="est.id_Estudios as est.estudios for est in estudios"></select>
        </div>
        <div class="form-group">
            <label for="selectProfesion"><span style="color:red">* </span>Profesion</label>
            <select class="form-control input-md" id="selectProfesion" ng-model="persona.profesion" ng-options="profesion.id_Profesion as profesion.profesion for profesion in profesiones"></select>
        </div>
        <div class="form-group">
            <label for="selectCapC"><span style="color:red">* </span>Capacidad Constructiva</label>
            <select class="form-control input-md" id="selectCapC" ng-model="persona.capConstructiva" ng-options="cc.id_TipoCapacidadConstructiva as cc.descripcion for cc in capacidadesConstructivas"></select>
        </div>
        <div class="form-group">
            <label for="selectDepLaboral"><span style="color:red">* </span>Dependencia Laboral</label>
            <select class="form-control input-md" id="selectDepLaboral" ng-model="persona.DepLaboral" ng-options="dl.id_DependenciaLaboral as dl.dependenciaLaboral for dl in situacionesLaborales"></select>
        </div>
        <div class="form-group">
            <label for="selectRelJF">Relacion con Jefe de Familia</label>
            <select class="form-control input-md" id="selectRelJF" ng-model="persona.relacionJF" ng-options="relacion.id_RolFamiliar as relacion.rolFamiliar for relacion in relacionJF"></select>
        </div>   
        <!---->
        <div class="form-group">
            <label for="inputIngresoN">Ingreso Neto</label>
            <input class="form-control input-md" type="number" ng-model="persona.ingresoNeto"  ng-minlength="3"
               ng-pattern="/^[0-9]*$/" id="inputIngresoN" />
        </div>
        <div class="form-group">
            <label for="inputMail">Mail</label>
            <input class="form-control input-md" type="email" ng-model="persona.mail" id="inputMail" />
        </div>
        <div class="form-group">
            <label for="inputTel">Telefono</label>
            <input class="form-control input-md" type="number" ng-model="persona.telefono" ng-pattern="/^[0-9]*$/" id="inputTel" />
        </div>
        <div class="checkbox">
                <label>
                    <b>Jubilado</b>
                    <input class="pull-right" type="checkbox" ng-model="persona.jubilado" />
                </label>
        </div>
        <div id="esJubilado" ng-show="persona.jubilado">
        <div class="form-group">
            <label for="inputCarnet">Nro Carnet</label>
            <input class="form-control input-md" type="text" ng-model="persona.carnetJubilacion" id="inputCarnet" />
        </div>            
        </div>
        <div class="checkbox">
                <label>
                    <b>La persona presenta alguna discapacidad</b>
                    <input class="pull-right" type="checkbox" ng-model="persona.discapacidad" />
                </label>
        </div>
        <fieldset class="form-group">
            <input type="submit" class="btn btn-primary" value="Continuar" />
        </fieldset>
    </form>

