<!DOCTYPE html>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.js"></script>
<link rel="stylesheet" ; href="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.css">
<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>

<html lang="en">
<div ng-controller="FamiliaController as ctrl" ng-show="!ctrl.opt.agregando">
    <table class="table">
        <tr>
            <th>Dni</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Relacion con el Jefe/a de Familia</th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-repeat="integrante in ctrl.familia.integrantes">
            <td>{ {integrante.DNI}}</td>
            <td>{ {integrante.nombre}}</td>
            <td>{ {integrante.apellido}}</td>
            <td>{ {integrante.RelacionJF}}</td>
            <td>
                <button type="button" class="btn btn-default" ng-click="ctrl.editarIntegrante(integrante)">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </button>
            </td>
            <td>
                <button type="button" class="btn btn-danger" ng-click="ctrl.eliminarIntegrante(integrante)">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
            </td>
        </tr>
    </table>
    <div class="md-col-6">
        <div class="md-col-3">
            <button type="button" class="btn btn-success" ng-click="ctrl.agregarIntegrante()">Agregar</button>
        </div>
        <div class="md-col-3">
            <button type="button" class="btn btn-default" ng-click="ctrl.guardarCambios()">Continuar</button>
        </div>

    </div>
</div>
<!--CARGA DE INTEGRANTE.-->
<div ng-controller="FamiliaController as ctrl" ng-show="ctrl.opt.agregando">
    <form ng-submit="ctrl.addPersona()">
        <label>Nombre:</label>
        <input class="form-control input-md" type="text" ng-model="ctrl.persona.nombre" required/>
        <label>Apellido:</label>
        <input class="form-control input-md" type="text" ng-model="ctrl.persona.apellido" required/>
        <label>Tipo DNI:</label>
        <select ng-options="item as item.descripcion for item in ctrl.tiposDni track by item.id" ng-model="ctrl.persona.tipoDni"></select>
        <label>Nro. DNI:</label>
        <input class="form-control input-md" type="number" ng-model="ctrl.persona.DNI" required ng-minlength="7"
               ng-maxlength="9" ng-pattern="/^[0-9]*$/"/>
        <label>CUIL:</label>
        <input class="form-control input-md" type="number" ng-model="ctrl.persona.CUIL" required ng-minlength="10"
               ng-maxlength="12" ng-pattern="/^[0-9]*$/"/>
        <label>Fecha de Nacimiento:</label>
        <input ui-date="{ dateFormat: 'dd-mm-yyyy' }" type="date" ng-model="ctrl.persona.nacimiento" required/>
        <!--SELECTS. FALTA CARGAR LAS COLECCIONES-->
        <label>Sexo:</label>
        <select class="form-control input-md" ng-options="item as item.descripcion for item in ctrl.sexos track by item.id" ng-model="ctrl.persona.sexo"></select>
        <label>Estado Civil:</label>
        <select class="form-control input-md" ng-options="item as item.descripcion for item in ctrl.estadosCiviles track by item.id" ng-model="ctrl.persona.estadoCivil"></select>
        <label>Nacionalidad:</label>
        <select class="form-control input-md" ng-options="item as item.descripcion for item in ctrl.nacionalidades track by item.id" ng-model="ctrl.persona.nacionalidad"></select>
        <label>Estudios:</label>
        <select class="form-control input-md" ng-options="item as item.descripcion for item in ctrl.estudios track by item.id" ng-model="ctrl.persona.estudios"></select>
        <label>Profesion:</label>
        <select class="form-control input-md" ng-options="item as item.descripcion for item in ctrl.profesiones track by item.id" ng-model="ctrl.persona.profesion"></select>
        <label>Capacidad Constructiva:</label>
        <select class="form-control input-md" ng-options="item as item.descripcion for item in ctrl.capConstructivas track by item.id" ng-model="ctrl.persona.capConstructiva"></select>
        <label>Dependencia Laboral:</label>
        <select class="form-control input-md" ng-options="item as item.descripcion for item in ctrl.depLaborales track by item.id" ng-model="ctrl.persona.depLaboral"></select>
        <label>Relacion con Jefe de Familia:</label>
        <select class="form-control input-md" ng-options="item as item.descripcion for item in ctrl.relacionJF track by item.id" ng-model="ctrl.persona.relacionJF"></select>
        <!---->
        <label>Ingreso Neto:</label>
        <input class="form-control input-md" type="number" ng-model="ctrl.persona.ingresoNeto"  ng-minlength="3"
               ng-pattern="/^[0-9]*$/"/>
        <label>Mail:</label>
        <input class="form-control input-md" type="email" ng-model="ctrl.persona.mail" />
        <label>Telefono:</label>
        <input class="form-control input-md" type="number" ng-model="ctrl.persona.telefono" ng-pattern="/^[0-9]*$/"/>
        <label>
            <input class="form-control input-md" type="checkbox" ng-model="ctrl.persona.jubilado" name="personaJubilada"  />
            Jubilado
        </label>
        <div id="esJubilado" ng-show="ctrl.persona.jubilado">
            <label>Nro Carnet:</label>
            <input class="form-control input-md" type="text" ng-model="ctrl.persona.carnetJubilacion" />
        </div>
        <label>
            <input class="form-control input-md" type="checkbox" ng-model="ctrl.persona.discapacidad" />
            La Persona presenta alguna discapacidad:
        </label>
        <fieldset class="form-group">
            <input type="submit" class="btn btn-primary" value="Agregar Persona" />
        </fieldset>
    </form>
</div>

</html>