<div id="buscador" ng-show="!buscando" class="ignorePDF">
    <nav class="navbar navbar-default navbar-fixed">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Consultar información</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">

                </ul>

            </div>
        </div>
    </nav>

    <div>
        <div class="input-group ">
            <input type="text" class="form-control input-md" placeholder="Ingrese su codigo" ng-model="codigoPersonal" />
            <span class="input-group-btn">
                        <button class="btn btn-info btn-md" type="button" ng-click="buscarDatos(codigoPersonal)">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
            </span>
        </div>
        <div class="col-md-12">
            <div class="card card-plain">
                <div class="header">
                </div>
            </div>

        </div>
        <div >
            <button type="button"  title="" class="btn btn-default"ng-click="paginaInicial()">Volver
            </button>
        </div>
    </div>
</div>
<div id="resultados" ng-show="buscando">
    <!--TIPO DE SOLUCION HABITACIONAL-->
    <div>
        <h3>Datos del hogar</h3>
        <div class="form-group">
            <label for="verTipoSolucion">Solución habitacional solicitada</label>
            <input class="form-control input-md" type="text" ng-model="datosHabitacionales.solucion" id="verTipoSolucion" disabled />
        </div>
        <div class="form-group">
            <label for="verTipoSolucion">Situación inmueble</label>
            <input class="form-control input-md" type="text" ng-model="datosHabitacionales.situacionInmueble" id="verSituacionInmueble" disabled />
        </div>
        <div class="form-group">
            <label for="verTipoSolucion">Dirección</label>
            <input class="form-control input-md" type="text" ng-model="datosHabitacionales.direccion" id="verDireccion" disabled />
        </div>
        <div class="form-group">
            <label for="verTipoSolucion">Teléfono</label>
            <input class="form-control input-md" type="text" ng-model="datosHabitacionales.telefono" id="verTelefono" disabled />
        </div>
    </div>
    <!--TABLA DE FAMILIA-->
    <h3>Integrantes de la familia</h3>
    <div ng-show="resultadosBusqueda.length">
        <table class="table table-hover">
            <thead>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            </thead>
            <tbody>
            <tr ng-repeat="integrante in resultadosBusqueda">
                <td>{{integrante.nroDocumento}}</td>
                <td>{{integrante.nombre}}</td>
                <td>{{integrante.apellido}}</td>
                <td class="td-actions text-right">
                    <button type="button" rel="tooltip" title="" class="btn btn-info btn-simple btn-xs" data-original-title="Edit Task" ng-click="verPersona(integrante)">
                        <i class="fa fa-user"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
    <!--DATOS DE LA PERSONA ELEGIDA-->

    <div ng-show="seePerson">
        <h3>Datos del integrante seleccionado</h3>
        <div class="form-group">
            <label for="inputNombre">Nombre</label>
            <input class="form-control input-md" type="text" ng-model="persona.nombre" id="inputNombre" disabled />
        </div>
        <div class="form-group">
            <label for="inputApellido">Apellido</label>
            <input class="form-control input-md" type="text" ng-model="persona.apellido" id="inputApellido" disabled />
        </div>
        <div class="form-group">
            <label for="inputDNI">Número de documento</label>
            <input class="form-control input-md" type="text" ng-model="persona.nroDocumento"
                    id="inputDNI" disabled/>
        </div>
        <div class="form-group">
            <label for="inputCUIL">CUIL</label>
            <input class="form-control input-md" type="text" ng-model="persona.nroCuil"
                   id="inputCUIL" disabled />
        </div>
        <div class="form-group">
            <label for="fechaNac">Fecha de nacimiento</label>
            <input  class="form-control" id="fechaNac" type="text" ng-model="persona.fechaNacimiento" disabled>
        </div>
        <div class="form-group">
            <label for="selectSexo">Género</label>
            <input class="form-control input-md" type="text" ng-model="persona.sexo.sexo" id="selectSexo" disabled />
        </div>
        <div class="form-group">
            <label for="selectEstadoC">Estado civil</label>
            <input class="form-control input-md" type="text" ng-model="persona.estadoCivil.estadoCivil" id="selectEstadoC" disabled />
        </div>
        <div class="form-group">
            <label for="selectNacionalidad">Nacionalidad</label>
            <input class="form-control input-md" type="text" ng-model="persona.nacionalidad.descripcion" id="selectNacionalidad" disabled />
        </div>
        <div class="form-group">
            <label for="selectNacionalidad">Relación con el jefe/a de hogar</label>
            <input class="form-control input-md" type="text" ng-model="persona.rolFamiliar.rolFamiliar" id="selectRelacionJefe" disabled />
        </div>
        <div class="form-group">
            <label for="selectEstudios">Estudios</label>
            <input class="form-control input-md" type="text" ng-model="persona.estudios.estudios" id="selectEstudios" disabled />
        </div>
        <div class="form-group">
            <label for="selectProfesion">Profesión</label>
            <input class="form-control input-md" type="text" ng-model="persona.profesion.profesion" id="selectProfesion" disabled />
        </div>
        <div class="form-group">
            <label for="selectDepLaboral">Dependencia laboral</label>
            <input class="form-control input-md" type="text" ng-model="persona.situacionLaboral.dependenciaLaboral" id="selectDepLaboral" disabled />
        </div>

    </div>
    <br>
    <div>
        <button  class="btn btn-secondary  pull-right" ng-click="salir()">Cerrar</button>
    </div>

</div>
<br>

</div>