<!--<div class="container page-styling">-->
<script src="assets/js/modernizr-2.6.2-respond-1.1.0.min.js"></script>
<script src="assets/js/masonry.pkgd.min.js"></script>
<script src="assets/js/imagesloaded.js"></script>
<script src="assets/js/classie.js"></script>
<!--<script src="assets/js/AnimOnScroll.js"></script>-->

<!--<script>-->
    <!--new AnimOnScroll( document.getElementById( 'grid' ), {-->
        <!--minDuration : 0.4,-->
        <!--maxDuration : 0.7,-->
        <!--viewportFactor : 0.2-->
    <!--} );-->
<!--</script>-->
<div class="header-wrapper">
	<div style="align-content:center">
		<img src="./images/Titulo.png">
	</div>
	<div>
	</div>
</div>
<!--no registrado-->
<div class="panel panel-default" ng-hide="$root.authenticated" style="border-color:#F3F4F5">
	<div class="panel-body mainPagec">
		<div class="mainPagec">
			<div class="row mainPagec">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					<p align="justify" style="font-size: 22px">
						SIRELDHA es un sistema informático a través del cual Ud. puede registrar y
						actualizar sus datos como solicitante de vivienda, lote o mejoras en el municipio.
					</p>
					<h4 style="color:#009ADA">¿En qué consite?</h4>
					<p align="justify" style="font-size: 22px">
						Para incribirse como solicitante de vivienda, lote o mejoras debe dirigirse a la oficina correspondiente en el municipio y solicitar
						su inscripción en el <strong>Registro Local de Demanda Habitacional</strong>. El
						mismo, consite de una declaracion jurada a través de la cual usted dára a conocer su
						necesidad y situación socioeconómica para poder participar de eventuales sorteos
						por soluciones habitacionales.
					</p>
					<p  align="justify" style="font-size: 22px">
						Si Ud. ya se ha registrado puede consultar y/o actualizar sus datos cuando se hayan modificado algunas
						de kas condiciones de sus situación delcarada en el registro.
					</p>
					<p></p>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-2">
					<a href="#!/">
						<img src="./images/icono-datos.png">
						<p align="left"><strong>CONSULTAR MI REGISTRO</strong></p>
					</a>
				</div>
				<div class="col-md-2">
					<a ng-click="$root.openLoginForm()">
						<img src="./images/icono-planilla.png" style="margin-left: 8px">
						<p align="left"><strong>INICIAR SESION</strong></p>
					</a>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</div>
</div>
<!--entry-->
<div class="panel panel-default" ng-show="$root.acceso==2" style="border-color:#F3F4F5">
	<div class="panel-body mainPagec">
		<div class="mainPagec">
			<div class="row mainPagec">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					<p align="justify" style="font-size: 22px"><strong>
						¿Que es el Sistema Integral de Registro Local de la Demanda Habitacional?
					</strong>
					</p>
					<p align="justify" style="font-size: 22px">
						<strong>SIRELDHA</strong> es un sistema informático que permite registrar y actualizar de manera integral, agil, y
						dinamica la demanda habitacional de las familias que requieren mejorar sus condiciones habitacionales en esta localidad.
					</p>
					<p  align="justify" style="font-size: 22px">
						Contar con SIRELDHA contribuye a:
					</p>
					<ul>
						<li style="font-size: 20px">Optimizar las sistemas municipales de registro de necesidades y demandas habitacionales manifiestas.</li>
						<li style="font-size: 20px">Mejorar las capacidades del municipio de identificar, caracterizar y estratificar las necesidades habitacionales existentes.</li>
						<li style="font-size: 20px">Relevar información sobre la demanda habitacional local para diseñar y gestionar políticas habitacionales adecuadas a la misma.</li>

					</ul>
					<p></p>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<div class="row">
				<div class="col-md-4"></div>
				<div class="col-md-2">
					<a href="#!/">
						<img src="./images/icono-planilla.png" style="margin-left: 8px">
						<p align="left"><strong>¿CÓMO REGISTRAR?</strong></p>
					</a>
				</div>
				<div class="col-md-2">
					<a href="#!/requestHome">
						<img src="./images/icono-casita-mano.png" style="margin-left: 8px">
						<p align="left"><strong>INICIAR REGISTRO</strong></p>
					</a>
				</div>
				<div class="col-md-4"></div>
			</div>
		</div>
	</div>
</div>
<!--admin-->
<div class="panel panel-default" ng-show="$root.acceso==1" style="border-color:#F3F4F5">
	<div class="panel-body mainPagec">
		<div class="mainPagec">
			<div class="row mainPagec">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					<p align="justify" style="font-size: 22px"><strong>
						¿Que es el Sistema Integral de Registro Local de la Demanda Habitacional?
					</strong>
					</p>
					<p align="justify" style="font-size: 22px">
						<strong>SIRELDHA</strong> es un sistema informático que permite registrar y actualizar de manera integral, agil, y
						dinamica la demanda habitacional de las familias que requieren mejorar sus condiciones habitacionales en esta localidad.
					</p>
					<p  align="justify" style="font-size: 22px">
						Contar con SIRELDHA contribuye a:
					</p>
					<ul>
						<li style="font-size: 20px">Optimizar las sistemas municipales de registro de necesidades y demandas habitacionales manifiestas.</li>
						<li style="font-size: 20px">Mejorar las capacidades del municipio de identificar, caracterizar y estratificar las necesidades habitacionales existentes.</li>
						<li style="font-size: 20px">Relevar información sobre la demanda habitacional local para diseñar y gestionar políticas habitacionales adecuadas a la misma.</li>

					</ul>
					<p></p>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-2">
					<a href="#!/requestHome">
						<img src="./images/icono-casita-mano.png">
						<p align="left"><strong>INICIAR REGISTRO</strong></p>
					</a>
				</div>
				<div class="col-md-2">
					<a>
						<img src="./images/icono-barras.png" style="margin-left: 8px">
						<p align="left"><strong>VER REPORTES</strong></p>
					</a>
				</div>
				<div class="col-md-2">
					<a href="#!/newPlan">
						<img src="./images/icono-casita-mano.png" style="margin-left: 8px">
						<p align="left"><strong>INICIAR PLAN</strong></p>
					</a>
				</div>
				<div class="col-md-2">
					<a href="" >
						<img src="./images/icono-planilla.png" style="margin-left: 8px">
						<p align="left"><strong>CERRAR PLAN</strong></p>
					</a>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</div>
</div>
<!--plan-->
<div class="panel panel-default" ng-show="$root.acceso==3" style="border-color:#F3F4F5">
	<div class="panel-body mainPagec">
		<div class="mainPagec">
			<div class="row mainPagec">
				<div class="col-lg-2"></div>
				<div class="col-lg-8">
					<p align="justify" style="font-size: 22px"><strong>
						¿Que es el Sistema Integral de Registro Local de la Demanda Habitacional?
					</strong>
					</p>
					<p align="justify" style="font-size: 22px">
						<strong>SIRELDHA</strong> es un sistema informático que permite registrar y actualizar de manera integral, agil, y
						dinamica la demanda habitacional de las familias que requieren mejorar sus condiciones habitacionales en esta localidad.
					</p>
					<p  align="justify" style="font-size: 22px">
						Contar con SIRELDHA contribuye a:
					</p>
					<ul>
						<li style="font-size: 20px">Optimizar las sistemas municipales de registro de necesidades y demandas habitacionales manifiestas.</li>
						<li style="font-size: 20px">Mejorar las capacidades del municipio de identificar, caracterizar y estratificar las necesidades habitacionales existentes.</li>
						<li style="font-size: 20px">Relevar información sobre la demanda habitacional local para diseñar y gestionar políticas habitacionales adecuadas a la misma.</li>

					</ul>

					<p></p>
				</div>
				<div class="col-lg-2"></div>
			</div>
			<div class="row">
				<div class="col-md-5"></div>
				<div class="col-md-2">
					<a href="#!/newPlan">
						<img src="./images/icono-casita-mano.png">
						<p align="left"><strong>CREAR PLAN</strong></p>
					</a>
				</div>
				<div class="col-md-5"></div>
			</div>
		</div>
	</div>
</div>



<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--<script src="assets/js/jquery-1.9.1.js"></script>-->
<!--<script src="js/bootstrap.js"></script>-->


