<!--TEMPLATE STUFF-->
<!--   Core JS Files   -->
<script src="assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>

<!--  Checkbox, Radio & Switch Plugins -->
<script src="assets/js/bootstrap-checkbox-radio-switch.js"></script>

<!--  Charts Plugin -->
<script src="assets/js/chartist.min.js"></script>

<!--  Notifications Plugin    -->
<script src="assets/js/bootstrap-notify.js"></script>
<script type="text/javascript" 	src="controllers/main.controller.js"></script>
<!---->

<!--
        Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
        Tip 2: you can also add an image using data-image tag
    -->
	<div id="anotherIdToBeIgnored" class="sidebar" data-color="azure" data-image="assets/img/sidebar-5.jpg" ng-controller="SidebarController as ctrl">
		<div class="sidebar-wrapper">
			<div class="logo">
				<a class="simple-text">
					SIRELDHA
				</a>
			</div>

			<ul class="nav">
				<li>
					<a href="#!/">
						<i class="pe-7s-home"></i>
						<p>Inicio</p>
					</a>
				</li>
				<li ng-show="!$root.authenticated">
					<a ng-click="$root.openLoginForm()">
						<i class="pe-7s-user-female"></i>
						<p>Iniciar sesión</p>
					</a>
				</li>
				<li class="active" ng-show="$root.acceso==2 || $root.acceso==1">
					<a href="#!/requestHome">
						<i class="pe-7s-note2"></i>
						<p>Iniciar solicitud</p>
					</a>
				</li>
				<li ng-show="$root.acceso==2 || $root.acceso==1">
					<a href="#!/search">
						<i class="pe-7s-user-female"></i>
						<p>Buscar Personas</p>
					</a>
				</li>
				<li ng-show="$root.acceso==2 || $root.acceso==1">
					<a href="#!/searchFamily">
						<i class="pe-7s-users"></i>
						<p>Buscar Familia</p>
					</a>
				</li>
				<li ng-show="$root.acceso==3 || $root.acceso==1">
					<a href="#!/newPlan">
						<i class="pe-7s-note2"></i>
						<p>Administrar Planes</p>
					</a>
				</li>
				<li class="active-pro" ng-show="$root.authenticated">
					<a href="/WebS/logout">
						<i class="pe-7s-door-lock"></i>
						<p>Desconectarse</p>
					</a>
				</li>
			</ul>
		</div>
	</div>

