<head>
    <script>
        var placeSearch, autocomplete;

        function initialize() {
            // Create the autocomplete object, restricting the search
            // to geographical location types.
            autocomplete = new google.maps.places.Autocomplete(
                /** @type {HTMLInputElement} */
                (document.getElementById('adress-hogar')), {
                    types: ['geocode']
                });

            google.maps.event.addDomListener(document.getElementById('adress-hogar'), 'focus', geolocate);
        }

        function geolocate() {

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {

                    var geolocation = new google.maps.LatLng(
                        position.coords.latitude, position.coords.longitude);
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());

                    // Log autocomplete bounds here
                    console.log(autocomplete.getBounds());
                });
            }
        }
        initialize();

    </script>
</head>
<form ng-submit="crearHogar(Hogar)" name="hogarForm" >
    <h3 title="info de hogar">Datos del Hogar</h3>
            <div class="form-group">
                <label for="selectPlan"><span style="color:red">* </span>Seleccione el plan al que desea aplicar</label>
                <select class="form-control input-md" id="selectPlan" ng-model="Hogar.idPlan" ng-options="plan.id_SolucionHabitacional as plan.descripcion for plan in Planes" ng-change="actualizarVivienda(Hogar.idPlan,Planes)"></select>
            </div>
            <div class="form-group">
                <label for="selectVivienda"><span style="color:red">* </span>Tipo de vivienda en la que reside actualmente</label>
                <select class="form-control input-md" id="selectVivienda" ng-model="Hogar.idVivienda" ng-options="vivienda.id_SituacionInmueble as vivienda.descripcion for vivienda in Viviendas"></select>
            </div>
            <div class="form-group">
                <label for="selectLocalidad"><span style="color:red">* </span>Localidad</label>
                <select  class="form-control input-md" id="selectLocalidad" ng-model="Hogar.idLocalidad" ng-options="localidad.id_Localidad as localidad.localidad for localidad in Localidades"></select>
            </div>
            <div class="form-group">
                <label for="inputBarrio">Barrio</label>
                <input class="form-control input-md" id="inputBarrio" type="text" ng-model="Hogar.barrio">
            </div>
            <div id="divDireccion" class="ignorePDF">
                <div class="form-group">
                    <label for="adress-hogar"><span style="color:red">* </span>Dirección</label>
                    <input id="adress-hogar" placeholder="Ingrese su direccion" type="text" class="form-control input-md" ng-model="Hogar.direccionFull"></input>
                </div>
            </div>
    <div class="form-group">
        <label for="fechaIncio"><span style="color:red">* </span>Inicio de residencia en la localidad</label>
        <input  class="form-control" id="fechaIncio" type="date" ng-model="Hogar.fechaInicio">
    </div>
            <div class="form-group">
                <label for="inputTelefono">Teléfono</label>
                <input class="form-control input-md" id="inputTelefono" type="text" ng-model="Hogar.telefono" placeholder="0351 15423568">
            </div>
    <div class="styled-input-single" >
        <input type="checkbox" name="fieldset-5" id="chkCel" ng-model="Hogar.celular"/>
        <label for="chkCel">Existe en el hogar al menos un teléfono celular.</label>
    </div>
    <div class="styled-input-single" >
        <input type="checkbox" name="fieldset-5" id="chkTar" ng-model="Hogar.tarjeta"/>
        <label for="chkTar">El hogar cuenta con una o más tarjetas de crédito.</label>
    </div>

            <button type="submit" id="btnHogar" class="btn btn-primary  pull-right">Siguiente</button>

</form>














