<div id="estadoInmueble">
    <h3 title="info de hogar">Conservación del inmueble</h3>
    <form>
        <h5>Estado de conservación de las paredes</h5>
        <div class="styled-input-single" >
            <input type="checkbox" name="fieldset-5" id="cheParedGoteras" ng-model="conservacion.paredGoteras"/>
            <label for="cheParedGoteras">Tiene humedades y/o goteras</label>
        </div>
        <div class="styled-input-single" >
            <input type="checkbox" name="fieldset-5" id="cheParedGrietas" ng-model="conservacion.paredGrietas"/>
            <label for="cheParedGrietas">Tiene grietas y/o rajaduras</label>
        </div>
        <h5>Estado de conservación del techo</h5>
        <div class="styled-input-single" >
            <input type="checkbox" name="fieldset-5" id="cheTechoGoteras" ng-model="conservacion.techoGoteras"/>
            <label for="cheTechoGoteras">Tiene humedades y/o goteras</label>
        </div>
        <div class="styled-input-single" >
            <input type="checkbox" name="fieldset-5" id="cheTechoGrietas" ng-model="conservacion.techoGrietas"/>
            <label for="cheTechoGrietas">Tiene grietas y/o rajaduras</label>
        </div>
        <div class="form-group">
            <label for="selectInstAgua">Estado de conservación de las intalaciones de agua</label>
            <select class="form-control input-md" id="selectInstAgua" ng-model="conservacion.instAgua" ng-options="combo.id_Combo as combo.descripcion for combo in combosConservacion"></select>
        </div>
        <div class="form-group">
            <label for="selectInstGas">Estado de conservación de las intalaciones de gas</label>
            <select class="form-control input-md" id="selectInstGas" ng-model="conservacion.instGas" ng-options="combo.id_Combo as combo.descripcion for combo in combosConservacion"></select>
        </div>
        <div class="form-group">
            <label for="selectInstElec">Estado de conservación de las intalaciones eléctricas</label>
            <select class="form-control input-md" id="selectInstElec" ng-model="conservacion.instElec" ng-options="combo.id_Combo as combo.descripcion for combo in combosConservacion"></select>
        </div>
        <div class="form-group">
            <label for="selectInstCloac">Estado de conservación de las intalaciones cloacales</label>
            <select class="form-control input-md" id="selectInstCloac" ng-model="conservacion.instCloac" ng-options="combo.id_Combo as combo.descripcion for combo in combosConservacion"></select>
        </div>


    </form>

    <button class="btn btn-primary"  pull-right type="button" id="btnCargaEstado" ng-click="">Siguiente</button>
</div>