<!DOCTYPE html>
<div ng-controller="InmuebleController as ctrl">
    <div ng-hide="ctrl.opt.datosOK">
        <label>
            <input type="radio" ng-model="ctrl.Inmueble.estado" value="poseeInmueble">Inmueble Propio
        </label>
        <div id="posseInmuble" ng-show="ctrl.Inmueble.estado = poseeInmueble">

                <label for="selectLocalidad">Localidad</label>
                <select class="form-control input-md" id="selectLocalidad" ng-model="Inmueble.idLocalidad" ng-options="localidad.Id as localidad.Descripcion for localidad in ctrl.Localidades"></select>


                <label for="inputBarrio">Barrio</label>
                <input class="form-control input-md" id="inputBarrio" type="text" ng-model="Inmueble.barrio">


                <h5>Direccion</h5>
                <div class="form-group">
                    <label for="inputCalle">Calle</label>
                    <input  class="form-control input-md" id="inputCalle" type="text" ng-model="Inmueble.direccion.calle">


                    <label for="inputNumero">Calle</label>
                    <input class="form-control input-md" id="inputNumero" type="number" ng-model="Inmueble.direccion.numero">


                    <label for="inputPiso">Piso y Departamento</label>
                    <input class="form-control input-md" id="inputPiso" type="text" ng-model="Inmueble.direccion.pisoDepto">


                    <label for="inputValorF">Valor Fiscal</label>
                    <input class="form-control input-md" id="inputValorF" type="number" ng-model="Inmueble.valorFiscal">
                    <label for="inputSuperficie">Superficie(m2)</label>
                    <input class="form-control input-md" id="inputSuperficie" type="number" ng-model="Inmueble.superficie">
                    <label>
                        <input type="checkbox" ng-model="Inmueble.edificacdo" />
                        Hay Edificacion en el terreno:
                    </label>
                </div>
            </div>
        <label>
            <input type="radio" ng-model="Inmueble.estado" value="noPoseeInmueble">No Posee Inmueble
        </label>
        <div id="noPoseeInmueble" ng-show="ctrl.Inmueble.estado = noPoseeInmueble">
            <label>
                <input type="radio" ng-model="Inmueble.motivoNoPosee" value="ocupTerrenoFiscal">
                    Ocupacion de Terreno Fical
            </label>
            <label>
                <input type="radio" ng-model="Inmueble.motivoNoPosee" value="ocupTerrenoPrivado">
                    Ocupacion de Terreno Privado
            </label>
            <label>
                <input type="radio" ng-model="Inmueble.motivoNoPosee" value="alq">
                    Inquilino - Arrendatario
            </label>
            <div id="alquila" ng-show="ctrl.Inmueble.motivoNoPosee = alq">
                <h5>Datos de Alquiler</h5>
                <label for="inputAlquiler">Cuota de Alquiler</label>
                <input class="form-control input-md" id="inputAlquiler" type="number" ng-model="Inmueble.alquiler.cuota">

                <label>Inicio alquiler:</label>
                <input ui-date="{ dateFormat: 'dd-mm-yyyy' }" type="date" ng-model="Inmueble.alquiler.inicio" />
                <label>Fin alquiler:</label>
                <input ui-date="{ dateFormat: 'dd-mm-yyyy' }" type="date" ng-model="Inmueble.alquiler.fin" />
            </div>
            <label>
                <input type="radio" ng-model="Inmueble.motivoNoPosee" value="prestEstado">
                    Prestamo - Comodato del Estado
            </label>
            <label>
                <input type="radio" ng-model="Inmueble.motivoNoPosee" value="prestTrabajo">
                    Prestamo - Comodato por trabajo
            </label>
            <label>
                <input type="radio" ng-model="Inmueble.motivoNoPosee" value="prestParuente">
                    Prestamo - Comodato de parientas
            </label>
            <label>
                <input type="radio" ng-model="Inmueble.motivoNoPosee" value="noPosee">
                    No Posee Inmueble
            </label>
            <div id="noPosee" ng-show="ctrl.Inmueble.motivoNoPosee = noPosee">
            <label for="selectCarecimiento">Localidad</label>
            <select class="form-control input-md" id="selectCarecimiento" ng-model="Inmueble.sinInmueble" ng-options="motivo.Id as motivo.Descripcion for localidad in ctrl.motivosFalta"></select>
            </div>

        </div>
        <button class="btn btn-success" type="button" id="btnCargaInmueble" ng-click="ctrl.opt.datosOK = true">Siguiente</button>
    </div>

    <div ng-show="ctrl.opt.datosOK">
        <form ng-submit="ctrl.Inmueble.cargarEstado(Inmueble)">
            <label>Material Pared:</label>
            <select ng-options="item as item.descripcion for item in ctrl.tiposPared track by item.id" ng-model="ctrl.Inmueble.tipoPared"></select>

            <input type="checkbox" ng-model="ctrl.Inmueble.revoque" />
            Las paredes poseen revoque:
            <label>Material Techo:</label>
            <select class="form-control input-md" ng-options="item as item.descripcion for item in ctrl.tiposTecho track by item.id" ng-model="ctrl.Inmueble.tipoTecho"></select>

            <input type="checkbox" ng-model="ctrl.Inmueble.cieloRazo" />
            El techo posee revestimiento interior/Cielo razo:
            <label>Material Piso:</label>
            <select class="form-control input-md" ng-options="item as item.descripcion for item in ctrl.tiposPiso track by item.id" ng-model="ctrl.Inmueble.TipoPiso"></select>

            <input type="checkbox" ng-model="ctrl.Inmueble.agua" />
            Posee agua
            <div ng-show="ctrl.Inmueble.agua">
                <label>tipo de Conexion:</label>
                <select class="form-control input-md" ng-options="item as item.descripcion for item in ctrl.conexionesAgua track by item.id" ng-model="ctrl.Inmueble.conexionAgua"></select>

                <label>Procedencia:</label>
                <select class="form-control input-md" ng-options="item as item.descripcion for item in ctrl.procedenciasAgua track by item.id" ng-model="ctrl.Inmueble.procedenciaAgua"></select>

            </div>
            <input type="checkbox" ng-model="ctrl.Inmueble.bano" />
            Posee baño
            <div ng-show="ctrl.Inmueble.bano">
                <label>Tipo baño:</label>
                <select class="form-control input-md" ng-options="item as item.descripcion for item in ctrl.tiposBano track by item.id" ng-model="ctrl.Inmueble.tipoBano"></select>

                <input type="checkbox" ng-model="ctrl.Inmueble.poseeCadena" />
                Posee botón/cadena/mochila para limpieza del inodoro
                <input type="checkbox" ng-model="ctrl.Inmueble.banoCompartido" />
                Baño compartido
            </div>
            <input type="checkbox" ng-model="ctrl.Inmueble.luz" />
            Posee Luz
            <div ng-show="ctrl.Inmueble.luz">
                <label>Tipo:</label>
                <select class="form-control input-md" ng-options="item as item.descripcion for item in ctrl.tiposLuz track by item.id" ng-model="ctrl.Inmueble.tipoLuz"></select>

            </div>
            <input type="checkbox" ng-model="ctrl.Inmueble.cocina" />
            Posee cocina
            <div ng-show="ctrl.Inmueble.cocina">
                <label>Tipo:</label>
                <select class="form-control input-md" ng-options="item as item.descripcion for item in ctrl.tiposCocina track by item.id" ng-model="ctrl.Inmueble.tipoCocina"></select>

                <input type="checkbox" ng-model="ctrl.Inmueble.cocinaAgua" />
                La cocina posee intalacion de agua funcional

            </div>

            <label>Cantidad de Cuartos:*</label>
            <input class="form-control input-md" type="text" ng-model="ctrl.Inmueble.cuartos" />
            <label>Cantidad de camas(Por plaza):*</label>
            <input class="form-control input-md" type="text" ng-model="ctrl.Inmueble.camas" required/>
            <input class="form-control input-md" type="checkbox" ng-model="ctrl.Inmueble.zonaInsalubre" />
            La vivienda se encuentra en zona insalubre

        </form>
        <button class="btn btn-success" type="button" id="btnCargaEstado" ng-click="cargarInmueble()">Siguiente</button>
    </div>
</div>