<head>
    <script>
        var placeSearch, autocomplete;

        function initialize() {
            // Create the autocomplete object, restricting the search
            // to geographical location types.
            autocomplete = new google.maps.places.Autocomplete(
                /** @type {HTMLInputElement} */
                (document.getElementById('adress-inmueble')), {
                    types: ['geocode']
                });

            google.maps.event.addDomListener(document.getElementById('adress-inmueble'), 'focus', geolocate);
        }

        function geolocate() {

            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (position) {

                    var geolocation = new google.maps.LatLng(
                        position.coords.latitude, position.coords.longitude);
                    var circle = new google.maps.Circle({
                        center: geolocation,
                        radius: position.coords.accuracy
                    });
                    autocomplete.setBounds(circle.getBounds());

                    // Log autocomplete bounds here
                    console.log(autocomplete.getBounds());
                });
            }
        }
        initialize();

    </script>
</head><!--//-----
---------------------------------------------------------------------------------------------------------------------------------//
//-----------------------------------------------POSESION INMUEBLE ------------------------------------------------------------------------//
//----------------------------------------------------------------------------------------------------------------------------------->
<div id="datosInmueble" ng-show="!datosOK">
    <h3 title="info de hogar">Posesion de inmueble</h3>
    <div class="form-group">
        <label for="selectPosesionInmueble"><span style="color:red">* </span>El Hogar Posee Inmueble propio</label>
        <select class="form-control input-md" id="selectPosesionInmueble" ng-model="inmueble.estado" ng-options="e.id_Estado as e.Descripcion for e in estados"></select>
    </div>
    <div id="posseInmuble" ng-show="inmueble.estado == 1" style="margin-left: 30px">
        <div class="form-group">
                <label for="selectLocalidad">Localidad</label>
                <select class="form-control input-md" id="selectLocalidad" ng-model="inmueble.idLocalidad" ng-options="localidad.id_Localidad as localidad.localidad for localidad in Localidades"></select>
        </div>
        <div class="form-group">
                <label for="inputBarrio">Barrio</label>
                <input class="form-control input-md" id="inputBarrio" type="text" ng-model="inmueble.barrio">
        </div>
        <div>

            <div class="form-group">
                <label for="adress-inmueble">Direccion</label>
                <input id="adress-inmueble" placeholder="Ingrese su direccion" type="text" class="form-control input-md" ></input>
            </div>

                <!--<div class="form-group">-->
                <!--<label for="inputCalle">Calle</label>-->
                <!--<input class="form-control input-md" id="inputCalle" type="text" ng-model="inmueble.direccion.calle">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<label for="inputNumero">Numero</label>-->
                <!--<input class="form-control input-md" id="inputNumero" type="number" ng-model="inmueble.direccion.numero">-->
                <!--</div>-->
                <!--<div class="form-group">-->
                <!--<label for="inputPiso">Piso y Departamento</label>-->
                <!--<input class="form-control input-md" id="inputPiso" type="text" ng-model="inmueble.direccion.pisoDepto">-->
                <!--</div>-->
        </div>
                <div class="form-group">
                <label for="inputValorF">Valor fiscal en $</label>
                <input class="form-control input-md" id="inputValorF" type="number" ng-model="inmueble.valorFiscal">
                </div>
                <div class="form-group">
                <label for="inputSuperficie">Superficie del terreno(m2)</label>
                <input class="form-control input-md" id="inputSuperficie" type="number" ng-model="inmueble.superficie">
                </div>
        <div class="styled-input-single" >
            <input type="checkbox" name="fieldset-5" id="chkEdificacion" ng-click="inmueble.edificado = !inmueble.edificado"/>
            <label for="chkEdificacion">Hay Edificacion en el terreno.</label>
        </div>

        </div>
                <div id="noPoseeInmueble" ng-show="inmueble.estado == 2">
                    <div class="form-group">
                        <label for="selectNoPosee"><span style="color:red">* </span>Tipo de hogar que posee</label>
                        <select class="form-control input-md" id="selectNoPosee" ng-model="inmueble.motivoNoPosee" ng-options="np.id_NoPosee as np.descripcion for np in NoPosee"></select>
                    </div>

                        <div id="alquila" style="margin-left: 30px" ng-show="inmueble.motivoNoPosee == 3">
                            <h5>Datos de Alquiler</h5>
                            <div class="form-group">
                            <label for="inputAlquiler">Cuota de Alquiler</label>
                            <input class="form-control input-md" id="inputAlquiler" type="number" ng-model="inmueble.alquiler.cuota">
                            </div>
                            <div class="form-group">
                            <label for="inicioAlq">Fecha de inicio de Alquiler</label>
                            <input  class="form-control" id="inicioAlq" type="date" ng-model="inmueble.alquiler.inicio">
                            </div>
                            <div class="form-group">
                            <label for="finAlq">Fecha de finalizacion de Alquiler (Segun contrato)</label>
                            <input  class="form-control" id="finAlq" type="date" ng-model="inmueble.alquiler.fin">
                            </div>
                        </div>
                        <div id="noPosee" ng-show="inmueble.motivoNoPosee ==7" style="margin-left: 30px">
                            <div class="form-group">
                                <label for="selectCarecimiento">Motivo de Carecimiento</label>
                                <select class="form-control input-md" id="selectCarecimiento" ng-model="inmueble.sinInmueble" ng-options="motivo.id_MotivoCarecimiento as motivo.descripcion for motivo in motivosFalta"></select>
                            </div>
                        </div>

        </div>
        <br>
        <button class="btn btn-success" type="button" id="btnCargaInmueble" ng-click="verificarPosesion()">Siguiente</button>
    </div>
<!--//--------------------------------------------------------------------------------------------------------------------------------------//
//-----------------------------------------------ESTADO INMUEBLE ------------------------------------------------------------------------//
//----------------------------------------------------------------------------------------------------------------------------------->
<div id="estadoInmueble" ng-show="datosOK">
    <h3 title="info de hogar">Condiciones del inmueble</h3>
    <form>
        <div class="form-group">
            <label for="selectMPared">Material Pared</label>
            <select class="form-control input-md" id="selectMPared" ng-model="inmueble.tipoPared" ng-options="tipoP.id_MaterialPared as tipoP.descripcion for tipoP in tiposPared"></select>
        </div>
        <div class="styled-input-single" >
            <input type="checkbox" name="fieldset-5" id="chkRevoque" ng-click="inmueble.revoque = !inmueble.revoque"/>
            <label for="chkRevoque">Las paredes poseen revoque.</label>
        </div>
        <div class="form-group">
            <label for="selectMTecho">Material Techo</label>
            <select class="form-control input-md" id="selectMTecho" ng-model="inmueble.tipoTecho" ng-options="tipoT.id_MaterialTecho as tipoT.descripcion for tipoT in tiposTecho"></select>
        </div>
        <div class="styled-input-single" >
            <input type="checkbox" name="fieldset-5" id="chkCieloRazzo" ng-click="inmueble.cieloRazo = !inmueble.cieloRazo"/>
            <label for="chkCieloRazzo">El techo posee revestimiento interior/Cielo razo.</label>
        </div>
        <div class="form-group">
            <label for="selectMPiso">Material Piso</label>
            <select class="form-control input-md" id="selectMPiso" ng-model="inmueble.tipoPiso" ng-options="tipoPiso.id_MaterialPiso as tipoPiso.descripcion for tipoPiso in tiposPiso"></select>
        </div>
        <div class="styled-input-single" >
            <input type="checkbox" name="fieldset-5" id="chkAgua" ng-click="inmueble.agua = !inmueble.agua"/>
            <label for="chkAgua">Posee Agua.</label>
        </div>
        <div ng-show="inmueble.agua" style="margin-left:30px;">
            <div class="form-group">
                <label for="selectConexionAgua">Tipo de Conexion</label>
                <select class="form-control input-md" id="selectConexionAgua" ng-model="inmueble.conexionAgua" ng-options="conexionAgua.id_PoseeAgua as conexionAgua.descripcion for conexionAgua in conexionesAgua"></select>
            </div>
            <div class="form-group">
                <label for="selectProcedenciaAgua">Procedencia</label>
                <select class="form-control input-md" id="selectProcedenciaAgua" ng-model="inmueble.procedenciaAgua" ng-options="procedenciaAgua.id_ProcedenciaAgua as procedenciaAgua.descripcion for procedenciaAgua in procedenciasAgua"></select>
            </div>
        </div>
        <div class="styled-input-single" >
            <input type="checkbox" name="fieldset-5" id="chkBano" ng-click="inmueble.bano = !inmueble.bano"/>
            <label for="chkBano">Posee Baño.</label>
        </div>
        <div ng-show="inmueble.bano" style="margin-left:30px;">
            <div class="form-group">
                <label for="selectTBano">Tipo de desagüe del baño</label>
                <select class="form-control input-md" id="selectTBano" ng-model="inmueble.tipoBano" ng-options="tBano.id_tipobano as tBano.descripcion for tBano in tiposBano"></select>
            </div>
            <div class="styled-input-single" >
                <input type="checkbox" name="fieldset-5" id="chkCadena" ng-click="inmueble.poseeCadena = !inmueble.poseeCadena"/>
                <label for="chkCadena">Posee botón/cadena/mochila para limpieza del inodoro.</label>
            </div>
            <div class="styled-input-single" >
                <input type="checkbox" name="fieldset-5" id="chkCompartido" ng-click="inmueble.banoCompartido = !inmueble.banoCompartido"/>
                <label for="chkCompartido">Baño compartido.</label>
            </div>
        </div>
        <div class="styled-input-single" >
            <input type="checkbox" name="fieldset-5" id="chkLuz" ng-click="inmueble.luz = !inmueble.luz"/>
            <label for="chkLuz">Posee Luz.</label>
        </div>
        <div ng-show="inmueble.luz" style="margin-left:30px;">
            <div class="form-group">
                <label for="selectTLuz">Conexion Luz</label>
                <select class="form-control input-md" id="selectTLuz" ng-model="inmueble.tipoLuz" ng-options="tLuz.id_PoseeLuz as tLuz.descripcion for tLuz in tiposLuz"></select>
            </div>
        </div>
        <div class="styled-input-single" >
            <input type="checkbox" name="fieldset-5" id="chkCocina" ng-click="inmueble.cocina = !inmueble.cocina"/>
            <label for="chkCocina">Posee Cocina.</label>
        </div>
        <div ng-show="inmueble.cocina" style="margin-left:30px;">
            <div class="form-group">
                <label for="selectTCocina">Tipo Cocina</label>
                <select class="form-control input-md" id="selectTCocina" ng-model="inmueble.tipoCocina" ng-options="tCocina.id_PoseeCocina as tCocina.descripcion for tCocina in tiposCocina"></select>
            </div>
            <div class="styled-input-single" >
                <input type="checkbox" name="fieldset-5" id="chkCocinaAgua" ng-click="inmueble.cocinaAgua = !inmueble.cocinaAgua"/>
                <label for="chkCocinaAgua">La cocina posee intalacion de agua funcional.</label>
            </div>
        </div>
        <div class="form-group">
            <label for="inputCuartos"><span style="color:red">* </span>Cantidad de Cuartos</label>
            <input class="form-control input-md" type="text" ng-model="inmueble.cuartos" id="inputCuartos" />
        </div>
        <div class="form-group">
            <label for="inputCamas"><span style="color:red">* </span>Cantidad de camas(Por plaza)</label>
            <input class="form-control input-md" type="text" ng-model="inmueble.camas" id="inputCamas" />
        </div>
        <div class="styled-input-single" >
            <input type="checkbox" name="fieldset-5" id="chkInsalubre" ng-click="inmueble.zonaInsalubre = !inmueble.zonaInsalubre"/>
            <label for="chkInsalubre">La vivienda se encuentra en zona insalubre.</label>
        </div>
    </form>
    <button class="btn btn-success" type="button" id="btnCargaEstado" ng-click="cargarInmueble()">Siguiente</button>
</div>
</div>


    