<div ng-show="opt.datosOK">
        <form ng-submit="cargarEstado()">
        <div class="form-group">
                <label for="selectMPared">Material Pared</label>
                <select class="form-control input-md" id="selectMPared" ng-model="inmueble.tipoPared" ng-options="tipoP.id_MaterialPared as tipoP.descripcion for tipoP in tiposPared"></select>
        </div>
        <div class="checkbox">
                <label>
                    <b>Las paredes poseen revoque</b>
                    <input class="pull-right" type="checkbox" ng-model="inmueble.revoque" />
                </label>
        </div>
        <div class="form-group">
                <label for="selectMTecho">Material Techo</label>
                <select class="form-control input-md" id="selectMTecho" ng-model="inmueble.tipoTecho" ng-options="tipoT.id_MaterialTecho as tipoT.descripcion for tipoT in tiposTecho"></select>
        </div>
        <div class="checkbox">
                <label>
                    <b>El techo posee revestimiento interior/Cielo razo</b>
                    <input class="pull-right" type="checkbox" ng-model="inmueble.cieloRazo" />
                </label>
        </div>
        <div class="form-group">
                <label for="selectMPiso">Material Piso</label>
                <select class="form-control input-md" id="selectMPiso" ng-model="inmueble.tipoPiso" ng-options="tipoPiso.id_MaterialPiso as tipoPiso.descripcion for tipoPiso in tiposPiso"></select>
        </div>
        <div class="checkbox">
                <label>
                    <b>Posee agua</b>
                    <input class="pull-right" type="checkbox" ng-model="inmueble.agua" />
                </label>
        </div>
        <div ng-show="inmueble.agua">
        	<div class="form-group">
                <label for="selectConexionAgua">Tipo de Conexion</label>
                <select class="form-control input-md" id="selectConexionAgua" ng-model="inmueble.conexionAgua" ng-options="conexionAgua.id_poseeAgua as conexionAgua.descripcion for conexionAgua in conexionesAgua"></select>
        	</div>
        	<div class="form-group">
                <label for="selectProcedenciaAgua">Procedencia</label>
                <select class="form-control input-md" id="selectProcedenciaAgua" ng-model="inmueble.procedenciaAgua" ng-options="procedenciaAgua.id_ProcedenciaAgua as procedenciaAgua.Descripcion for procedenciaAgua in procedenciasAgua"></select>
        	</div>
        </div>
        <div class="checkbox">
                <label>
                    <b>Posee baño</b>
                    <input class="pull-right" type="checkbox" ng-model="inmueble.bano" />
                </label>
        </div>
            
        <div ng-show="inmueble.bano">
        	<div class="form-group">
                <label for="selectTBano">Tipo baño</label>
                <select class="form-control input-md" id="selectTBano" ng-model="inmueble.tipoBano" ng-options="tBano.id_tipobano as tBano.descripcion for tBano in tiposBano"></select>
        	</div>
        	<div class="checkbox">
                <label>
                    <b>Posee botón/cadena/mochila para limpieza del inodoro</b>
                    <input class="pull-right" type="checkbox" ng-model="inmueble.poseeCadena" />
                </label>
        	</div>
        	<div class="checkbox">
                <label>
                    <b>Baño compartido</b>
                    <input class="pull-right" type="checkbox" ng-model="inmueble.banoCompartido" />
                </label>
        	</div>
        </div>
        <div class="checkbox">
                <label>
                    <b>Posee Luz</b>
                    <input class="pull-right" type="checkbox" ng-model="inmueble.luz" />
                </label>
    	</div>
         <div ng-show="Inmueble.luz">
         	<div class="form-group">
                <label for="selectTLuz">Conexion Luz</label>
                <select class="form-control input-md" id="selectTLuz" ng-model="inmueble.tipoLuz" ng-options="tLuz.id_PoseeLuz as tLuz.descripcion for tLuz in tiposLuz"></select>
        	</div>
        </div>
        <div class="checkbox">
                <label>
                    <b>Posee Cocina</b>
                    <input class="pull-right" type="checkbox" ng-model="inmueble.cocina" />
                </label>
    	</div>
            <div ng-show="inmueble.cocina">
            <div class="form-group">
                <label for="selectTCocina">Tipo Cocina</label>
                <select class="form-control input-md" id="selectTCocina" ng-model="inmueble.tipoCocina" ng-options="tCocina.id_TipoCocina as tCocina.descripcion for tCocina in tiposCocina"></select>
        	</div>
        	<div class="checkbox">
                <label>
                    <b>La cocina posee intalacion de agua funcional</b>
                    <input class="pull-right" type="checkbox" ng-model="inmueble.cocinaAgua" />
                </label>
    		</div>
            </div>
            <div class="form-group">
            <label for="inputCuartos"><span style="color:red">* </span>Cantidad de Cuartos</label>
            <input class="form-control input-md" type="text" ng-model="inmueble.cuartos" id="inputCuartos" />
        	</div>
        	<div class="form-group">
            <label for="inputCamas"><span style="color:red">* </span>Cantidad de camas(Por plaza)</label>
            <input class="form-control input-md" type="text" ng-model="inmueble.camas" id="inputCamas" />
        	</div>
        	<div class="checkbox">
                <label>
                    <b>La vivienda se encuentra en zona insalubre</b>
                    <input class="pull-right" type="checkbox" ng-model="inmueble.zonaInsalubre" />
                </label>
    		</div>            
        </form>
        <button class="btn btn-success" type="button" id="btnCargaEstado" ng-click="cargarInmueble()">Siguiente</button>
    </div>
</div>
